body {
    font-family: Roboto, sans-serif;
    background: #FFF;
    color: #434455;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 h5 h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}



img {
    display: block;
    max-width: 100%;
}


.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
    display: flex;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


.subtitle {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.secondtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.maintext {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

button {
    cursor: pointer;
}

/* Header */

.header {

    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;



}

.header-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-left: 0;
    margin-right: 76px;
}

.weblogo {
    color: #2E2F42;
}

.nav-list {
    display: flex;
    gap: 40px;
    position: relative;
}

.nav-list-item {}

.link-current::after {
    display: block;
    content: '';
    position: absolute;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: var(--ocean, #404BBF);
    left: 0;
    bottom: -1px;
}



.nav-link {
    display: block;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.nav-link:hover {
    color: #404BBF;
}

.nav-link:focus {
    color: #404BBF;
}

.link-current {

    position: relative;
    color: #404BBF;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding: 24px 0;
}

.header-address {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.address-item {}

.address-link {
    color: #434455;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover {
    color: #404bbf;
}

.address-link:focus {
    color: #404bbf;
}


/* Hero section */
.hero-section {
    background: #2E2F42;
    margin-left: auto;
    margin-right: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
}

.container-hero {}

.hero-title {
    display: block;
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
}

.hero-button {
    display: block;
    background: #4D5AE5;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
    background-color: #404BBF;
}

.hero-button:focus {
    background-color: #404BBF;
}

/* Section description */

.section-descr {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container-descr {}

.icons-descr {
    background-color: #f4f4fd;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid var(--lightslate, #8E8F99);
    background: var(--cloud, #F4F4FD);
    padding-top: 24px;
}

.icon-subject {
    text-align: center;
    width: 264px;
    border-radius: 4px;
}



.descr-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.descr-list {
    display: flex;
    gap: 24px;
    align-items: center;
}

.descr-list-item {
    width: calc((100% - 48px) / 4);
}

.descr-list-item-title {
    margin-bottom: 8px;
}

.descr-list-text {
    justify-content: center;
}

.section-team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.container-team {}

.team-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;

}

.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    align-items: center;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    background: var(--white, #FFF);
    border-radius: 0px 0px 4px 4px;
}

.team-img {}

.team-position {
    width: 268px;
    padding: 32px 0;
}

.team-name {
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    text-align: center;
}

.team-social-list {
    display: flex;
    gap: 24px;
    margin-top: 8px;
    justify-content: center;
}

.team-social-item {}

.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris, #4D5AE5);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link-icon {
    fill: #F4F4FD;
}

.team-social-link:hover {
    background-color: #404BBF;
}

.team-social-link:focus {
    background-color: #404BBF;
}

/* Portfolio */
.section-portfol {
    padding-top: 120px;
    padding-bottom: 120px;
    border-bottom: 1px solid #E7E9FC;
}


.container-portfolio {
    flex-wrap: wrap;
}

.portfolio-title {
    text-align: center;
    margin-bottom: 72px;
}

.portfol-list {
    display: flex;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.portfol-list-item {
    width: calc((100% - 48px) / 3);
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfol-list-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.div-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfol-img-title {
    margin-bottom: 8px;
}

.portfol-img {}

.portfol-text {}



.portfolio-overlay-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    color: var(--cloud, #F4F4FD);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding: 40px 32px;
    letter-spacing: 0.02em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--iris, #4D5AE5);
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfol-list-item:hover .portfolio-overlay {
    transform: translatey(0%);
}

/* Footer */
footer {
    background: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.footer-logo-context {
    margin-right: 120px;
}

.footer-logo-link {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 0;
    margin-left: 0;
    display: inline-block;
    margin-bottom: 16px;
}

.footerlogo {
    color: #f4f4fd;
}

.footer-text {
    color: #F4F4FD;
    width: 264px;
}

/* Footer sosial */

.footer-social {}

.footer-social-title {
    color: var(--white, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--iris, #4D5AE5);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-item {}

.footer-social-link-icon {
    fill: #F4F4FD;
}

.social-container {
    display: block;
    margin-left: 0;
}

.footer-social-link:hover {
    background-color: #31d0aa;
}

.footer-social-link:focus {
    background-color: #31d0aa;
}


/* Footer subscribe */

.footer-subscribe {

    margin-left: 80px;
}

.footer-subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-title {
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.subscribe-mail-form {
    display: flex;
    gap: 24px;
    justify-content: end;

}

.input-subscribe-mail {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    color: var(--WHITE, #FFF);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: transparent;
    padding-left: 16px;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

}

.input-subscribe-mail::placeholder {
    color: var(--WHITE, #FFF);
}

.footer-subscribe-button {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background: var(--IRIS, #4D5AE5);
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: backgound 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
    background: var(--OCEAN, #404BBF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribe-icon {
    fill: #FFF;
    margin-left: 16px;
}


/* Backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.contact-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    background: var(--DAIRY, #FCFCFC);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    width: 24px;
    height: 24px;
    line-height: 0;
    fill: #2E2F42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-close-button:hover {
    border: none;
    fill: #ffffff;
    background-color: var(--OCEAN, #404BBF);
}

.contact-form-close-button:focus {
    border: none;
    fill: #ffffff;
    background-color: var(--OCEAN, #404BBF);
}


.contact-form-close-icon {

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-close-icon:hover {
    fill: #FFFF;
}

.contact-form-close-icon:focus {
    fill: #FFFF;
}

.contact-form-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.contact-form-wrapper {
    margin-bottom: 8px;
}

.contact-form-input-wrapper {
    position: relative;
}

.contact-form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
    border-color: #4D5AE5;
    outline: transparent;
}

.contact-form-name-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translatey(-50%);
    fill: var(--NAVY-BLUE, #2E2F42);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus+.contact-form-name-icon {
    fill: var(--IRIS, #4D5AE5);
}

.label-contact-form {
    display: block;
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-comment {
    display: block;
    width: 100%;
    height: 120px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    resize: none;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-comment:focus {
    border-color: #4D5AE5;
}

.contact-form-wrapper-textarea {
    margin-bottom: 16px;
}

.contact-form-comment::placeholder {
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
}

.label-checkbox-accept {
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.contact-form-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 2px;

    background-color: transparent;
    cursor: pointer;
    fill: transparent;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accept-box:checked+.label-checkbox-accept>span {
    border: none;
    fill: #F4F4FD;
    background-color: #404bbf;

}

.accept-box:focus+.label-checkbox-accept>span {
    outline: 1px solid var(--OCEAN, #404BBF);
}

.check-box-icon {}

.accept-box:checked+.check-box-icon {
    fill: #f4f4fd;

}



.accept-box-container {
    margin-bottom: 24px;
}

.accept-box-link {
    padding-left: 2px;
    color: var(--IRIS, #4D5AE5);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

.form-button {
    display: block;
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: none;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    background: var(--OCEAN, #404BBF);
}