/* Mobile */
@media screen and (min-width: 320px) {
    footer {
        background: #2E2F42;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .container-footer {
        min-width: 320px;
        /* margin-bottom: 72px; */
    }

    .footer-logo-context {
        text-align: center;
        margin-bottom: 72px;
    }

    .footer-text {
        color: var(--CLOUD, #F4F4FD);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-top: 17px;
    }

    .footer-logo-link {
        color: #4d5ae5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
    }

    .footerlogo {
        color: #f4f4fd;
    }

    .footer-text {
        text-align: justify;
        color: #F4F4FD;
        width: 288px;
    }

    .footer-social {
        margin-bottom: 72px;
    }

    .footer-social-title {
        color: var(--white, #FFF);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        /* margin-top: 72px; */
        margin-bottom: 16px;
        text-align: center;
    }

    .footer-social-list {
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .footer-social-item {
        width: 40px;
        height: 40px;
    }

    .footer-social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--iris, #4D5AE5);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-social-link-icon {
        fill: #F4F4FD;
    }

    .social-container {
        display: block;
        margin-left: 0;
    }


    .footer-social-link:focus {
        background-color: #31d0aa;
    }

    .footer-subscribe-form {
        display: block;
        margin-bottom: 16px;

    }

    .subscribe-title {
        color: var(--WHITE, #FFF);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
        text-align: center;
    }

    .subscribe-mail-form {}

    .input-subscribe-mail {
        width: 288px;
        height: 40px;
        border: 1px solid #ffffff;
        color: var(--WHITE, #FFF);
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: transparent;
        padding-left: 16px;
        border-radius: 4px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    }

    .input-subscribe-mail::placeholder {
        color: var(--WHITE, #FFF);
    }

    .footer-subscribe-button {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 165px;
        height: 40px;
        border-radius: 4px;
        border: none;
        background: var(--IRIS, #4D5AE5);
        color: var(--WHITE, #FFF);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        margin-top: 16px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        transition: backgound 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .footer-subscribe-button:focus {
        background: var(--OCEAN, #404BBF);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }

    .subscribe-icon {
        fill: #FFF;
        margin-left: 16px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) {
    .container-footer {
        min-width: 584px;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }

    .footer-social {
        margin-bottom: 0;
    }

    .footer-logo-context {
        text-align: start;
        margin-bottom: 0;
    }

    .footer-text {
        width: 264px;
    }

    .maintext {
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .footer-social-title {
        color: var(--white, #FFF);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-top: 0;
        margin-bottom: 16px;
        text-align: left;
    }

    .footer-social-list {
        display: flex;
        gap: 16px;
        justify-content: left;
    }

    .footer-logo-link {
        text-align: start;
    }

    .footer-subscribe {
        flex-basis: 33.33%;
    }

    .subscribe-tablet {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .subscribe-title {}

    .subscribe-mail-form {}

    .subscribe-title {
        display: block;
    }

    .subscribe-title {
        color: var(--WHITE, #FFF);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
    }

    .footer-subscribe-form {}

    .input-subscribe-mail {
        width: 264px;
        height: 40px;
        border: 1px solid #ffffff;
        color: var(--WHITE, #FFF);
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: transparent;
        padding-left: 16px;
        border-radius: 4px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    }

    .footer-subscribe-button {
        margin-left: 24px;
        margin-top: 0;
    }

    .subscribe-title {
        text-align: left;
    }

    .footer-social-item {
        justify-content: start;
    }
}

/* Desktop */
@media screen and (min-width: 1158px) {
    .subscribe-tablet {}

    .footer-social {
        flex-basis: 0;
        margin-right: 80px;
        margin-bottom: 0;
    }

    .footer-social-list {
        display: flex;
        gap: 16px;
    }

    .container-footer {
        gap: 0px;
        flex-wrap: nowrap;
    }

    .footer-logo-context {
        margin-right: 120px;
        margin-bottom: 0;

    }

    .footer-subscribe-form {
        display: flex;
        gap: 24px;
    }

    .input-subscribe-mail {}

    .footer-subscribe-button {
        position: static;
    }

    .footer-subscribe-form {
        position: static;
    }

    .footer-subscribe-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-subscribe-button:hover {
        background: var(--OCEAN, #404BBF);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }

    .footer-social-link:hover {
        background-color: #31d0aa;
    }
}