/* Mobile */
@media screen and (min-width: 320px) {
    .section-team {
        background-color: #F4F4FD;
    }

    .container-team {
        width: 296px;

    }

    section {}

    .team-title {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
    }

    .subtitle {
        color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }

    .secondtitle {
        color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }

    .team-list {
        display: block;

    }

    .team-list-item {
        /* justify-content: center; */
        border-radius: 0px 0px 4px 4px;
        /* align-items: center; */
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        background: var(--white, #FFF);
        margin-top: 72px;
    }

    .team-position {
        padding-top: 32px;
        padding-bottom: 32px;

    }

    .maintext {
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .team-name {
        color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
    }

    .team-text {
        font-weight: 400;
        text-align: center;
        margin-bottom: 8px;
    }

    .team-social-list {
        display: flex;
        gap: 24px;
        justify-content: center;
    }

    .team-social-item {}

    .team-social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--iris, #4D5AE5);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .team-social-link-icon {
        fill: #F4F4FD;
    }

    .team-social-link:focus {
        background-color: #404BBF;
    }
}

/* Tablet */

@media screen and (min-width: 768px) {

    .secondtitle {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.12;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }

    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 24px;
        row-gap: 48px;
    }

    .container-team {}

    .team-position {}

    .team-list-item {
        margin-top: 0;
    }

}

/* Desktop */
@media screen and (min-width: 1158px) {
    .container-team {
        width: 1158px;
    }

    .team-list {}

    .team-list-item {

        width: calc((100% - 72px) / 4);
    }

    .team-social-link:hover {
        background-color: #404BBF;
    }
}